---
layout: layout.njk
---
<br>
<h1>About</h1>
I created my own style of poetry called Hasu Poetry.<br>
Hasu is short for HASsan voyeaU.<br>
Hasu is also Korean slang for beginner.<br>
Poems are 6 lines with 3 pairs of rhymes.<br>
I like simple.<br>
I am a minimalist.<br>
Thank you for visiting my website.
<hr>
<a href="{{ base_url }}">view all poems</a>
