---
layout: layout.njk
---
<br>
<h3>Poems by Hassan Voyeau</h3>
<ul>
  {% for poem in poems %}
    <li><a href="{{ base_url }}poems/{{ poem.title | slugify }}">{{ poem.title }}</a></li>
  {% endfor %}
</ul>
