---
layout: layout.njk
---
<br>
<h1>Statistics</h1>
Coming soon...<br>
Total words<br>
Total unique words<br>
Total poems<br>
Average words per poem<br>
Top 10 used words<br>
Longest words<br>
Longest poem
<hr>
<a href="{{ base_url }}">view all poems</a>
