---
layout: layout.njk
---
<br>
<h1>Statistics</h1>
<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in statistics %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<a href="{{ base_url }}">view all poems</a>
